<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Home</title>
</head>
<body>
    <nav class="nav-principal">
        <div class="logo">
            <h1>Blog-<span>SrPromax</span></h1>
            <img th:src="@{/img/java-icon.svg}" alt="icon">
        </div>
        <div class="links">
            <div class="link"><a th:href="@{/home}">Home</a></div>
            <div th:if="${user == null}" class="link"><a th:href="@{/auth/login}">Login</a></div>
            <div th:if="${user == null}" class="link"><a th:href="@{/auth/register}">Register</a></div>
            <div th:if="${user != null}" class="link"><a href="#" th:text="${user.username}"></a></div>
            <div th:if="${user != null}" class="link"><a th:href="@{/logout}">Logout</a></div>
        </div>
    </nav>


    <main class="container">
        <div class="content">
            <div class="contenido-principal">
                <div class="nav-blog">
                    <div class="links-nav-blog">
                        <a th:href="@{/home}">All Posts</a>
                        <a th:href="@{/home/myposts}">My Posts</a>
                    </div>
                    <div class="search">
                        <form method="get" th:action="${pagHome != null ? '/home' : '/home/myposts'}">
                            <input type="text" placeholder="Search" autocomplete="off" aria-label="Search" name="search">
                            <button type="submit">
                                <img th:src="@{/img/search.svg}" alt="search" width="20px" height="20px">
                            </button>
                        </form>
                    </div>
                </div>
                <div class="new-post">
                    <a th:href="@{/create-post}">Create New Post</a>
                </div>
                <div class="blogs">
                    <ul th:if="${posts.size() > 0}" class="list">
                        <li th:each="post: ${posts}" class="blog">
                            <div class="blog-content">
                                <div class="blog-content-1">
                                    <div class="blog-image">
                                        <img th:src="@{/img/logo-srpromax.png}" alt="logo">
                                    </div>
                                    <div class="blog-text">
                                        <h2 th:text="${post.title}"></h2>
                                        <p th:text="${post.content}"></p>
                                    </div>
                                </div>
                                <div class="blog-community">
                                    <div class="blog-view-comments">
                                        <img th:src="@{/img/ojo-svg.svg}" alt="ojito" height="24px" width="24px">
                                        <img th:src="@{/img/comment-svg.svg}" alt="ojito" height="24px" width="24px">
                                    </div>
                                    <div>
                                        <a href="#">Follow</a>
                                    </div>
                                </div>
                            </div>
                        </li>


                    </ul>
                    <div style="font-size: 1.8rem; font-weight: bold; padding: 1rem" th:if="${posts.isEmpty()}">
                        No hay Posts
                    </div>
                    <ul class="listPage">

                    </ul>
                    <ul class="new-posts" th:if="${ultimosPosts != null}">
                        <li th:each="post: ${ultimosPosts}">
                            <div class="post">
                                <div class="post-header">
                                    <img th:src="@{/img/user.svg}" alt="user" width="30px" height="30px">
                                    <div class="post-userinfo">
                                        <h3 th:text="${post.author.username}"><span></span></h3>
                                        <p th:text="${#dates.format(post.fechaCreacion, 'yyyy/MM/dd')}"></p>
                                    </div>
                                </div>
                                <div class="post-content">
                                    <h3 th:text="${post.title}"></h3>
                                    <p th:text="${post.content}"></p>
                                </div>
                                <div class="new-blog-community">
                                    <div class="like">
                                        <img th:src="@{/img/like.svg}" alt="like" width="26px" height="26px">
                                        <span>Like</span>
                                    </div>
                                    <div class="comments-view-icon">
                                        <img th:src="@{/img/ojo-svg.svg}" alt="ojito" height="20px" width="20px">
                                        <img th:src="@{/img/comment-svg.svg}" alt="ojito" height="20px" width="20px">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer-home">

    </footer>
    <script th:src="@{/js/home.js}"></script>
</body>
</html>